.picture-wrapper {
    height: 100vh;
    width: 100%;
    padding: 0 15% 0 15%;
    overflow-y: scroll;

    .gallery {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;

        .picture-gallery {
            // width: 100px;
            height: 100px;
            flex-grow: 1;
        }
    }
}
