<div class="picture-wrapper">
    <h1>Ils nous ont fait confiance</h1>
    <div *ngFor="let haircut of haircuts" class="gallery">
        <img src="{{ haircut.imageUrl }}" class="gallery-picture" />
        <!-- {{ haircut.imageUrl }} -->
    </div>
</div>
