// .navbar-wrapper {
//     height: 60px;
//     padding: 20px 0 20px 0;
//     background-color: lightgray;

//     ul {
//         display: flex;
//         flex-direction: row-reverse;

//         .menu-item {
//             margin: 0 15px 0 15px;
//             cursor: pointer;
//         }
//     }
// }
