<!-- <div class="navbar-wrapper">
    <ul>
        <li class="menu-item" [routerLink]="'/reservation'"><h3>Réservation</h3></li>
        <li class="menu-item" href="#contact-form"><h3>Contact</h3></li>
        <li class="menu-item" [routerLink]="'/calendrier'"><h3>Calendrier</h3></li>
        <li class="menu-item" [routerLink]="'/galerie'"><h3>Gallerie</h3></li>
    </ul>
</div> -->

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/accueil'">
        <mat-icon>dialpad</mat-icon>
        <span>Accueil</span>
    </button>
    <button mat-menu-item [routerLink]="'/galerie'">
        <mat-icon>dialpad</mat-icon>
        <span>Galerie</span>
    </button>
    <button mat-menu-item disabled href="#contact-form">
        <mat-icon>Calendrier</mat-icon>
        <span>Contact</span>
    </button>
    <button mat-menu-item [routerLink]="'/reservation'">
        <mat-icon>notifications_off</mat-icon>
        <span>Réservation</span>
    </button>
</mat-menu>
