.booking-wrapper {
    height: 100vh;
    width: 100%;
    padding: 0 15% 0 15%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

    h1 {
        margin: 50px 0 30px 0;
    }

    .booking-form {
        width: 100%;
        display: flex;
        // align-items: center;
        flex-direction: column;

        h4 {
            margin: 20px 0 20px 0;
            text-align: left;
            color: rgb(128, 128, 128);
        }

        mat-radio-group {
            margin: 20px 0 20px 0;
            display: flex;

            mat-radio-button {
                padding-right: 10px;
                flex: 1;
            }
        }

        .date-choice {
            margin-top: 20px;
        }

        .hour-choice {
            margin: 20px 0 40px 0;
        }

        &:only-child {
            padding: 20px 0 20px 0;
        }
    }
}
