<div class="booking-wrapper">
    <h1>Prendre un rendez-vous</h1>
    <div class="booking-form">
        <mat-form-field>
            <input matInput placeholder="Prénom" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nom" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="email" />
        </mat-form-field>

        <!-- <h4>Ce qui vous correspond</h4> -->
        <mat-radio-group aria-label="Choisissez une option">
            <mat-radio-button value="1"><p>Femme</p></mat-radio-button>
            <mat-radio-button value="2"><p>Homme</p></mat-radio-button>
            <mat-radio-button value="3"><p>Enfant</p></mat-radio-button>
        </mat-radio-group>

        <!-- <h4>Basic mat-select</h4> -->
        <mat-form-field>
            <mat-label>Type de services</mat-label>
            <mat-select>
                <mat-option *ngFor="let service of services" [value]="service.value">
                    {{ service.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="date-choice">
            <input matInput [matDatepicker]="picker" placeholder="Choisissez une date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <input
            [ngxTimepicker]="default"
            [(ngModel)]="selectedHour"
            placeholder="Choisir une Heure"
            class="hour-choice"
        />
        <ngx-material-timepicker #default></ngx-material-timepicker>

        <button mat-raised-button color="primary">Envoyer</button>

        {{ selectedHour }}
    </div>
</div>
